In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

In [3]:
postulation_views_original = pd.read_csv("../../datos_navent_fiuba/fiuba_3_vistas.csv")
postulation_views_from_15 = pd.read_csv("../../fiuba_3_vistas.csv")
postulation_views_to_15 = pd.read_csv("../../entrega6/fiuba_3_vistas.csv")

### Veo como son los datos y la longitud de los csv

In [4]:
postulation_views_original.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [5]:
print(len(postulation_views_original))

961897

In [6]:
postulation_views_from_15.head()

      idAviso                     timestamp idpostulante
0     1808556  2018-04-30T19:55:37.990-0400       6kDNzl
1     1806679  2018-04-30T19:55:38.291-0400        Mozax
2     1808078  2018-04-30T19:55:37.686-0400        GYPPA
3  1112196813  2018-04-30T19:55:40.199-0400      EzeLjM2
4  1112435646  2018-04-30T19:55:40.507-0400      Bm5keG0

In [7]:
print(len(postulation_views_from_15))

11648230

In [8]:
postulation_views_to_15.head()

      idAviso                     timestamp idpostulante
0  1112400775  2018-04-06T01:43:47.445-0400      kPjr2K0
1  1112400775  2018-04-06T01:43:48.330-0400      kPjr2K0
2  1112426664  2018-04-06T01:43:50.042-0400      GNOwZmb
3  1112426664  2018-04-06T01:43:51.171-0400      GNOwZmb
4  1112445738  2018-04-06T01:43:46.371-0400      lDLxajz

In [9]:
print(len(postulation_views_to_15))

5758686

### Mergeo los primeros 2 csv

In [10]:
pos_aux = pd.merge(postulation_views_original, postulation_views_from_15, on = ['idAviso', 'timestamp', 'idpostulante'], how = 'outer')
pos_aux.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [11]:
print(len(pos_aux))

12610127

### Mergeo el csv mergeado anterior con el último que faltaba

In [12]:
postulation_views = pd.merge(pos_aux, postulation_views_to_15, on = ['idAviso', 'timestamp', 'idpostulante'], how = 'outer')
postulation_views.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [13]:
print(len(postulation_views))

18024382

In [14]:
print(len(postulation_views.drop_duplicates(['idAviso', 'idpostulante'])))

8597915

### Cambio el nombre de la columna idAviso -> idaviso

In [ ]:
postulation_views = postulation_views.rename(columns = {'idAviso' : 'idaviso'})
postulation_views.head()

### Lo guardo en un CSV limpio

In [ ]:
postulation_views.to_csv("../csvs/fiuba_3_vistas.csv", index=False)

### Reviso que se haya guardado bien, cargando el csv recién generado

In [ ]:
test_csv_clean = pd.read_csv("../csvs/fiuba_3_vistas.csv")
test_csv_clean.head()

In [ ]:
print(len(test_csv_clean))