In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

In [3]:
postulant_education_original = pd.read_csv("../../datos_navent_fiuba/fiuba_1_postulantes_educacion.csv")
postulant_education_from_15 = pd.read_csv("../../fiuba_1_postulantes_educacion.csv")
postulant_education_to_15 = pd.read_csv("../../entrega6/fiuba_1_postulantes_educacion.csv")

### Veo como son los datos y la longitud de los csv

In [4]:
postulant_education_original.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [5]:
print(len(postulant_education_original))

298231

In [6]:
postulant_education_from_15.head()

  idpostulante         nombre    estado
0          YZP         Master  En Curso
1         ZjlZ         Master  En Curso
2        aEW8J  Universitario  En Curso
3        8QGRj  Universitario  En Curso
4       eRYl5r  Universitario  En Curso

In [7]:
print(len(postulant_education_from_15))

397509

In [8]:
postulant_education_to_15.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [9]:
print(len(postulant_education_to_15))

407453

### Mergeo los primeros 2 csv

In [10]:
pos_aux = pd.merge(postulant_education_original, postulant_education_from_15, on = ['idpostulante', 'nombre', 'estado'], how = 'outer')
pos_aux.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [11]:
print(len(pos_aux))

557493

### Mergeo el csv mergeado anterior con el último que faltaba

In [12]:
postulant_education = pd.merge(pos_aux, postulant_education_to_15, on = ['idpostulante', 'nombre', 'estado'], how = 'outer')
postulant_education.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [13]:
print(len(postulant_education))

693641

In [14]:
postulant_education['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/Técnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [15]:
postulant_education['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

In [16]:
cleanup_pe = {"nombre":     {"Otro": 1, "Secundario": 2, "Terciario/Técnico": 3, "Universitario": 4, "Master": 5, "Posgrado": 6, "Doctorado": 7},
                "estado": {"Abandonado": 0, "En Curso": 1, "Graduado": 2 }}

In [17]:
postulant_education.replace(cleanup_pe, inplace = True)
postulant_education.head()

  idpostulante  nombre  estado
0         NdJl       6       1
1         8BkL       4       1
2         1d2B       4       1
3         NPBx       4       1
4         NPBx       5       1

In [18]:
postulant_education['nivel'] = postulant_education['nombre'] + postulant_education['estado']
postulant_education.head()

  idpostulante  nombre  estado  nivel
0         NdJl       6       1      7
1         8BkL       4       1      5
2         1d2B       4       1      5
3         NPBx       4       1      5
4         NPBx       5       1      6

### Lo guardo en un CSV limpio

In [19]:
postulant_education.to_csv("../csvs/fiuba_1_postulantes_educacion.csv", index=False)