In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Cargo los csv a mergear
postulant_education = pd.read_csv('../csvs/fiuba_1_postulantes_educacion.csv')
postulant_gen_age = pd.read_csv('../csvs/fiuba_2_postulantes_genero_y_edad.csv')
postulations = pd.read_csv('../csvs/fiuba_4_postulaciones.csv')

### Veo como son los CSV

In [4]:
postulant_education.head()

  idpostulante  nombre  estado  nivel
0         NdJl       6       1      7
1         8BkL       4       1      5
2         1d2B       4       1      5
3         NPBx       4       1      5
4         NPBx       5       1      6

In [5]:
postulant_gen_age.head()

  idpostulante  sexo  edad
0         NM5M   FEM    47
1         5awk   FEM    55
2         ZaO5   FEM    39
3         NdJl  MASC    49
4         eo2p  MASC    37

In [6]:
postulations.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

### Reviso cantidad de resultados con outer

In [7]:
postulants_info_o = pd.merge(postulant_education, postulant_gen_age, on = 'idpostulante', how = 'outer')
print(len(postulants_info_o))

733714

In [8]:
final_o = pd.merge(postulants_info_o, postulations, on = 'idpostulante', how = 'outer')
print(len(final_o))

11337652

### Reviso cantidad de resultados con inner

In [9]:
postulants_info_i = pd.merge(postulant_education, postulant_gen_age, on = 'idpostulante', how = 'inner')
print(len(postulants_info_i))

681556

In [10]:
final_i = pd.merge(postulants_info_i, postulations, on = 'idpostulante', how = 'inner')
print(len(final_i))

10825608

In [11]:
# Calculo la cantidad de resultados que quedan fuera con inner
print(len(final_o) - len(final_i))

512044

In [12]:
final_i.head()

,idpostulante,nombre,estado,nivel,sexo,edad,idaviso,fechapostulacion
0,NdJl,6,1,7,MASC,49,1112261212,2018-01-16 08:50:30
1,NdJl,6,1,7,MASC,49,1112273308,2018-01-23 07:53:47
2,NdJl,6,1,7,MASC,49,1112281548,2018-01-24 05:10:12
3,NdJl,6,1,7,MASC,49,1112260409,2018-01-24 05:17:29
4,NdJl,6,1,7,MASC,49,1112293547,2018-01-29 15:41:43

In [13]:
print(final_i.shape)

(10825608, 8)

In [14]:
#final_i.to_csv("../csvs/postulantes_informacion.csv", index=False)

# Si deseo el csv final con los detalles de los avisos a los que se postularon:

In [15]:
notice_details = pd.read_csv('../csvs/fiuba_6_avisos_detalle.csv')

In [16]:
notice_details.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra Búsqueda se orienta a la incorporación...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES
1,1712970,1,INGENIERO DE PRODUCTO,INGENIERO ELECTRICISTA/ELECTRONICO CON CONOCIM...,Capital Federal,NaN,NaN,Full-time,Otro,Otras Ingenierias,Aparatos Electricos Automaticos SA
2,1719970,1,** Diseñadores/as Gráficos Quark Express **,Diseñadores/as Gráficos Quark Express para Rev...,Capital Federal,NaN,NaN,Full-time,Otro,Diseño,Revista NEX IT Specialist ? Editorial Poulbert
3,1720060,1,Soporte Tecnico,Estudiante de Sistemas (Lic. en Sistemas de la...,Capital Federal,NaN,NaN,Full-time,Otro,Tecnologia / Sistemas,Tango Software
4,1720280,1,ADSCRIPTO DE GERENCIA,Importante Organización Académica Empresarial\...,Buenos Aires (fuera de GBA),NaN,NaN,Full-time,Otro,Otros,Experis

In [17]:
complete = pd.merge(final_i, notice_details, on = 'idaviso', how = 'inner')
print(len(complete))

10641324

In [18]:
complete.head()

,idpostulante,nombre,estado,nivel,sexo,edad,idaviso,fechapostulacion,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,NdJl,6,1,7,MASC,49,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,Nos encontramos en la búsqueda de un joven pro...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
1,NdJl,4,2,6,MASC,49,1112261212,2018-01-16 08:50:30,1,Jóvenes Profesionales - Responsable Administra...,Nos encontramos en la búsqueda de un joven pro...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
2,EppJmb,4,1,5,MASC,58,1112261212,2018-01-16 18:51:39,1,Jóvenes Profesionales - Responsable Administra...,Nos encontramos en la búsqueda de un joven pro...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
3,EppJmb,4,2,6,MASC,58,1112261212,2018-01-16 18:51:39,1,Jóvenes Profesionales - Responsable Administra...,Nos encontramos en la búsqueda de un joven pro...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA
4,8Zr1GD,3,1,4,MASC,42,1112261212,2018-01-17 10:08:22,1,Jóvenes Profesionales - Responsable Administra...,Nos encontramos en la búsqueda de un joven pro...,Gran Buenos Aires,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Administración,EDUCADO EN ARGENTINA

In [20]:
# Con columnas completas
# complete.to_csv("../csvs/postulantes_informacion_completa.csv", index=False)
# Categorizando columnas y eliminando algunas.
df_cat = complete.drop(['fechapostulacion', 'idpais', 'titulo', 'descripcion', 'ciudad', 'mapacalle', 'denominacion_empresa'], axis = 1)
df_cat.head()

,idpostulante,nombre,estado,nivel,sexo,edad,idaviso,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,NdJl,6,1,7,MASC,49,1112261212,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración
1,NdJl,4,2,6,MASC,49,1112261212,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración
2,EppJmb,4,1,5,MASC,58,1112261212,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración
3,EppJmb,4,2,6,MASC,58,1112261212,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración
4,8Zr1GD,3,1,4,MASC,42,1112261212,Gran Buenos Aires,Full-time,Jefe / Supervisor / Responsable,Administración

In [22]:
df_cat.to_csv("../csvs/postulantes_informacion.csv", index=False)