In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

In [4]:
postulations_original = pd.read_csv("../../datos_navent_fiuba/fiuba_4_postulaciones.csv")
postulations_to_15 = pd.read_csv("../../entrega6/fiuba_4_postulaciones.csv")

### Veo como son los datos y la longitud de los csv

In [5]:
postulations_original.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [6]:
print(len(postulations_original))

3401623

In [7]:
postulations_to_15.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [8]:
print(len(postulations_to_15))

4909641

### Mergeo los csv

In [9]:
postulations = pd.merge(postulations_original, postulations_to_15, on = ['idaviso', 'idpostulante', 'fechapostulacion'], how = 'outer')
postulations.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [10]:
print(len(postulations))

6604534

### Lo guardo en un CSV limpio

In [11]:
postulations.to_csv("../csvs/fiuba_4_postulaciones.csv", index=False)