In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

In [3]:
online_notices_original = pd.read_csv("../../datos_navent_fiuba/fiuba_5_avisos_online.csv")
online_notices_to_15 = pd.read_csv("../../entrega6/fiuba_5_avisos_online.csv")

### Veo como son los datos y la longitud de los csv

In [4]:
online_notices_original.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [5]:
print(len(online_notices_original))

5028

In [6]:
online_notices_to_15.head()

      idaviso
0  1111718795
1  1110497155
2  1111511125
3  1111930643
4  1112172032

In [7]:
print(len(online_notices_to_15))

4858

### Mergeo los csv

In [8]:
online_notices = pd.merge(online_notices_original, online_notices_to_15, on = 'idaviso', how = 'outer')
online_notices.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [9]:
print(len(online_notices))

9430

### Lo guardo en un CSV limpio

In [10]:
online_notices.to_csv("../csvs/fiuba_5_avisos_online.csv", index=False)