In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
# Load libraries
import pandas as pd
import numpy as np

In [3]:
# Cargo los csv a mergear
postulant_education = pd.read_csv('csvs/fiuba_1_postulantes_educacion.csv')
postulant_gen_age = pd.read_csv('csvs/fiuba_2_postulantes_genero_y_edad.csv')
postulations = pd.read_csv('csvs/fiuba_4_postulaciones.csv')
notice_details = pd.read_csv('csvs/fiuba_6_avisos_detalle.csv')
test = pd.read_csv('csvs/test_final_100k.csv')

In [4]:
postulant = pd.merge(postulant_education, postulant_gen_age, on = 'idpostulante')

In [5]:
postulant.head()

  idpostulante  nombre  estado  nivel  sexo  edad
0         NdJl       6       1      7  MASC    49
1         NdJl       4       2      6  MASC    49
2         8BkL       4       1      5   FEM    41
3         8BkL       4       2      6   FEM    41
4         8BkL       6       2      8   FEM    41

In [6]:
print(len(postulant))

681556

In [7]:
print(len(test.drop_duplicates(['idaviso', 'idpostulante'])))

100000

In [8]:
postulant = postulant.loc[postulant.groupby('idpostulante')['nivel'].idxmax()]

In [9]:
print(len(postulant))

437722

In [10]:
postulant.head()

       idpostulante  nombre  estado  nivel  sexo  edad
579329      0z5Dmrd       4       2      6  MASC    52
517967      0z5JW1r       3       2      5  MASC    47
163190      0z5VvGv       2       2      4  MASC    30
569948      0zB01pE       3       2      5  MASC    28
116033      0zB026d       3       2      5   FEM    40

In [12]:
print(len(postulant.drop_duplicates('idpostulante')))

437722

In [19]:
test_1 = pd.merge(test, postulant, on = 'idpostulante', how = 'left')

In [20]:
test_1.head()

   id  idaviso idpostulante  nombre  estado  nivel  sexo  edad
0   0   739260       6M9ZQR     7.0     2.0    9.0   FEM  42.0
1   1   739260       6v1xdL     3.0     2.0    5.0  MASC  31.0
2   2   739260       ezRKm9     4.0     2.0    6.0   FEM  36.0
3   3   758580       1Q35ej     6.0     2.0    8.0  MASC  68.0
4   4   758580       EAN4J6     4.0     1.0    5.0   FEM  32.0

In [21]:
test_1.shape

(100000, 8)

In [31]:
print(len(notice_details))

25901

In [32]:
print(len(notice_details.drop_duplicates(['idaviso'])))

25288

In [33]:
notice_details.drop_duplicates('idaviso', inplace = True)

In [34]:
test_2 = pd.merge(test_1, notice_details, on = 'idaviso', how = 'left')

In [35]:
test_2.head()

,id,idaviso,idpostulante,nombre,estado,nivel,sexo,edad,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,0,739260,6M9ZQR,7.0,2.0,9.0,FEM,42.0,1,Asistente Comercial,Nuestro cliente es una empresa nac. ubicada en...,Capital Federal,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA
1,1,739260,6v1xdL,3.0,2.0,5.0,MASC,31.0,1,Asistente Comercial,Nuestro cliente es una empresa nac. ubicada en...,Capital Federal,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA
2,2,739260,ezRKm9,4.0,2.0,6.0,FEM,36.0,1,Asistente Comercial,Nuestro cliente es una empresa nac. ubicada en...,Capital Federal,NaN,NaN,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA
3,3,758580,1Q35ej,6.0,2.0,8.0,MASC,68.0,1,Oracle Financials Sr. Application Developer,"\r\nTeleTech, the worlwide leader in outsource...",Capital Federal,NaN,NaN,Full-time,Otro,Tecnologia / Sistemas,TeleTech
4,4,758580,EAN4J6,4.0,1.0,5.0,FEM,32.0,1,Oracle Financials Sr. Application Developer,"\r\nTeleTech, the worlwide leader in outsource...",Capital Federal,NaN,NaN,Full-time,Otro,Tecnologia / Sistemas,TeleTech

In [36]:
last_test = test_2.drop(['idpais', 'titulo', 'descripcion', 'ciudad', 'mapacalle', 'denominacion_empresa'], axis = 1)
last_test.head()

,id,idaviso,idpostulante,nombre,estado,nivel,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,0,739260,6M9ZQR,7.0,2.0,9.0,FEM,42.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
1,1,739260,6v1xdL,3.0,2.0,5.0,MASC,31.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
2,2,739260,ezRKm9,4.0,2.0,6.0,FEM,36.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
3,3,758580,1Q35ej,6.0,2.0,8.0,MASC,68.0,Capital Federal,Full-time,Otro,Tecnologia / Sistemas
4,4,758580,EAN4J6,4.0,1.0,5.0,FEM,32.0,Capital Federal,Full-time,Otro,Tecnologia / Sistemas

In [37]:
last_test.shape

(100000, 12)

In [39]:
last_test.drop('id', axis = 1).head()

,idaviso,idpostulante,nombre,estado,nivel,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,739260,6M9ZQR,7.0,2.0,9.0,FEM,42.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
1,739260,6v1xdL,3.0,2.0,5.0,MASC,31.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
2,739260,ezRKm9,4.0,2.0,6.0,FEM,36.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
3,758580,1Q35ej,6.0,2.0,8.0,MASC,68.0,Capital Federal,Full-time,Otro,Tecnologia / Sistemas
4,758580,EAN4J6,4.0,1.0,5.0,FEM,32.0,Capital Federal,Full-time,Otro,Tecnologia / Sistemas

In [41]:
last = last_test.drop('id', axis = 1)
last.head()

,idaviso,idpostulante,nombre,estado,nivel,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,739260,6M9ZQR,7.0,2.0,9.0,FEM,42.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
1,739260,6v1xdL,3.0,2.0,5.0,MASC,31.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
2,739260,ezRKm9,4.0,2.0,6.0,FEM,36.0,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial
3,758580,1Q35ej,6.0,2.0,8.0,MASC,68.0,Capital Federal,Full-time,Otro,Tecnologia / Sistemas
4,758580,EAN4J6,4.0,1.0,5.0,FEM,32.0,Capital Federal,Full-time,Otro,Tecnologia / Sistemas

In [43]:
last.shape

(100000, 11)

### Genero el csv para test

In [42]:
last.to_csv('csvs/test_full.csv')